## Feature Generation for K-Means Clustering Algorithm

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns
sns.set()

In [6]:
rawdata = pd.read_csv('C:/Users/faisa/Dropbox/SEM 2 2022-2023 I/Data Mining/Exam/Final Exam 2/Raw Data/retail_transaction_clean_TRAIN.csv')

In [7]:
rawdata.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Country,Customer_ID
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,01DEC09:07:45:00,6.95,United Kingdom,13085
1,489434,79323P,PINK CHERRY LIGHTS,12,01DEC09:07:45:00,6.75,United Kingdom,13085
2,489434,79323W,WHITE CHERRY LIGHTS,12,01DEC09:07:45:00,6.75,United Kingdom,13085
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,01DEC09:07:45:00,2.10,United Kingdom,13085
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,01DEC09:07:45:00,1.25,United Kingdom,13085

In [35]:
#rawdata['FormatDate1'] = rawdata['InvoiceDate'].dt.strftime('%Y-%m-%d-%H:%M:%S')
rawdata['InvDateTransformed'] = pd.to_datetime(rawdata.InvoiceDate, format = '%d%b%y:%H:%M:%S')

In [36]:
rawdata['InvDateTransformed']

0        2009-12-01 07:45:00
1        2009-12-01 07:45:00
2        2009-12-01 07:45:00
3        2009-12-01 07:45:00
4        2009-12-01 07:45:00
                 ...
407690   2010-12-09 20:01:00
407691   2010-12-09 20:01:00
407692   2010-12-09 20:01:00
407693   2010-12-09 20:01:00
407694   2010-12-09 20:01:00
Name: InvDateTransformed, Length: 407695, dtype: datetime64[ns]

In [37]:
rawdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407695 entries, 0 to 407694
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Invoice             407695 non-null  int64
 1   StockCode           407695 non-null  object
 2   Description         407695 non-null  object
 3   Quantity            407695 non-null  int64
 4   InvoiceDate         407695 non-null  object
 5   Price               407695 non-null  float64
 6   Country             407695 non-null  object
 7   Customer_ID         407695 non-null  int64
 8   FormatDate1         407695 non-null  datetime64[ns]
 9   InvDateTransformed  407695 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(3), object(4)
memory usage: 31.1+ MB

In [38]:
# Including Related Data to Feature Generation
relatedata = rawdata[['Customer_ID','InvDateTransformed','Invoice','Quantity','Price']]

In [39]:
relatedata['TotalSum'] = relatedata['Quantity'] * relatedata['Price']

C:\Users\faisa\AppData\Local\Temp\ipykernel_29248\2196994105.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  relatedata['TotalSum'] = relatedata['Quantity'] * relatedata['Price']

In [41]:
relatedata['InvDateTransformed'].min(), relatedata['InvDateTransformed'].max()

(Timestamp('2009-12-01 07:45:00'), Timestamp('2010-12-09 20:01:00'))

In [42]:
Present = dt.datetime(2010,12,10)

In [43]:
relatedata.tail()

        Customer_ID  InvDateTransformed  Invoice  Quantity  Price  TotalSum
407690        17530 2010-12-09 20:01:00   538171         2   2.95      5.90
407691        17530 2010-12-09 20:01:00   538171         1   3.75      3.75
407692        17530 2010-12-09 20:01:00   538171         1   3.75      3.75
407693        17530 2010-12-09 20:01:00   538171         2   3.75      7.50
407694        17530 2010-12-09 20:01:00   538171         2   1.95      3.90

In [45]:
# Creation of RFM features

RFM = relatedata.groupby('Customer_ID').agg({'InvDateTransformed': lambda date: (Present - date.max()).days,
                                        'Invoice': lambda num: len(num),
                                        'TotalSum': lambda price: price.sum()})

In [47]:
RFM.head()

             InvDateTransformed  Invoice  TotalSum
Customer_ID
12346                       164       33    372.86
12347                         2       71   1323.32
12348                        73       20    222.16
12349                        42      102   2671.14
12351                        10       21    300.93

In [48]:
RFM.columns =['Recency','Frequency','Monetary']

In [49]:
RFM.head()

             Recency  Frequency  Monetary
Customer_ID
12346            164         33    372.86
12347              2         71   1323.32
12348             73         20    222.16
12349             42        102   2671.14
12351             10         21    300.93

In [50]:
RFM.to_csv('RFM Dataset.csv')